<h1>Appointments#index</h1>
<p>Find me in app/views/appointments/index.html.erb</p>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Therapeft</th>
      <th scope="col">9:00</th>
      <th scope="col">10:00</th>
      <th scope="col">11:00</th>
      <th scope="col">12:00</th>
      <th scope="col">13:00</th>
      <th scope="col">14:00</th>
      <th scope="col">15:00</th>
      <th scope="col">16:00</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Gudrun</th>
      <td class></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Hasse</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Harald</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>