<h1>Appointments#show</h1>
<p>Find me in app/views/appointments/show.html.erb</p>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Therapist</th>
      <% @slots.each do |slot| %>
      <th scope="col"><%= slot[:start].strftime("%H:%M") %></th>
      <%end%>
    </tr>
  </thead>
  <tbody>
  <% @therapists.each do  %>
    <tr>
      <th scope="row">Gudrun</th>
      <td class="table-danger"></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="table-danger"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>