<h1>Appointments#show</h1>
<p>Find me in app/views/appointments/show.html.erb</p>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Therapist</th>
      <% @slots.each do |slot| %>
        <%=%>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Gudrun</th>
      <td class="table-danger"></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="table-danger"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Hasse</th>
      <td></td>
      <td class="table-danger"></td>
      <td class="table-danger"></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="table-danger"></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Harald</th>
      <td></td>
      <td class="table-danger"></td>
      <td class="table-danger"></td>
      <td></td>
      <td class="table-danger"></td>
      <td></td>
      <td class="table-danger"></td>
      <td class="table-danger"></td>
    </tr>
  </tbody>
</table>