<h1>Therapists#index</h1>
<p>Find me in app/views/therapists/index.html.erb</p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Schedule</th>
    </tr>
  </thead>
  <tbody>
    <% @therapists.each do |t| %>
    <tr>
      <th scope="row"><%= t.id %></th>
      <td><%= t.name %></td>
      <td><button type="button" class="btn btn-outline-primary"><Primary></button>
    </tr>
    <% end %>
  </tbody>
</table>