<h1><%= @therapist.name %></h1>
<ul class="list-group d-flex justify-content-between align-items-start">
  <div class="ms-2 me-auto">

  <% @appointments.each do |day, items| %>
    <div class="fw-bold"><%= day %></div>
  
      <ul class="list-group list-group-flush">
    
      <% items.each do |a|%>
    
        <li class="list-group-item"><%= a.start.strftime("%H:%M") %> + <%= a.duration %> minutes</li>
    
      <% end %>
      </ul>

  <% end %>

</ul>
