<h1><%= @therapist.name %></h1>
<ul class="list-group">

  <% @appointments.each do |day, items| %>

  <li class="list-group-item"><%= day %></li>
    
    <% items.each do |a|%>

    <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= a.start.strftime("%H:%M") %> </li>
    </ul>

    <% end %>

  </li>

<% end %>

</ul>
