<h1><%= @therapist.name %></h1>
<ul class="list-group">

<% @appointments.each do |date, items| %>
  <li class="list-group-item list-group-item-primary d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold"><%= date %></div>
      <table class="table">
      <tbody>
    
      <% items.each do |a|%>
      <tr>
        <td><%= a.start.strftime("%H:%M") %></td>
        <td><%= a.duration %> minutes</td>
      <% end %>

      </ul>
    </div>
  </li>
<% end %>
</ul>
